In [1]:
%load_ext autoreload
%autoreload 2

import os
import pandas as pd
import numpy as np
import ast
import sys

from pyarrow.parquet import ParquetFile
import pyarrow as pa 

ukb_file='../data/ukb50790.tab'
sys.path.append("../../ukb-dementia-shap/")

sys.path.append("../Pain/code/")



from logic.data_processing.data_import import dataload
from logic.data_processing.data_processing import data_proc_main

dp=data_proc_main()

def read_parq_nrow(file='../data/ukb_tp0.parquet',n=1000):
    pf = ParquetFile(file) 
    first_ten_rows = next(pf.iter_batches(batch_size = n)) 
    df = pa.Table.from_batches([first_ten_rows]).to_pandas() 
    return df


def exc_parquet(df,outfile='../data/ukb'):

    try:
        df.to_parquet(outfile+'.parquet')

    except:
        print('running exception')
        for c in df.columns:
            if df[df[c].apply(lambda x: isinstance(x, str))].shape[0]>0:
                df[c]=df[c].astype(str)
        df.to_parquet(outfile+'.parquet') 
        
    return df

def create_parquets():
    for i in range(9):

        print(i)
        if i<8:

            mini=i*1000
            maxi=(i+1)*1000-1
        if i==8:
            mini=i*1000
            rem=len(colsnew) % 8000
            maxi=8000+rem


        cols=list(set(['f.eid']+colsnew[mini:maxi]))
        df=pd.read_csv(ukb_file,sep='\t',usecols=cols)
        df.columns=[varmap[c] for c in df.columns]
        df=exc_parquet(df,outfile='../data/ukb'+str(i))

def load_parquets(file='../data/ukb',imin=0,imax=9):
    listof_df=[]

    for i in range(imin,imax):
        print(i)
        df=pd.read_parquet(file+str(i)+'.parquet')
        if i>0:
            df.drop(columns='eid',inplace=True)
        listof_df.append(df)
    df=pd.concat(listof_df,axis=1)
    
    return df

def sep_path(string,i=1):
    try:
        s=string.split('>')[i]
    except:
        s='N/A'
    return s

In [2]:
df_check=pd.read_feather('../data/df_check.feather')

In [13]:
fn=pd.read_csv('../data/fieldnames_full.csv')
mask=pd.notnull(fn['field_type2'])&(fn['field_type2'].str.contains('Mental'))
mh_cols=list(fn.loc[mask,'col.name'])

In [14]:
df_check[mh_cols]

,ever_sought_or_received_professional_help_for_mental_distress_f20499_0_0,ever_suffered_mental_distress_preventing_usual_activities_f20500_0_0,mental_health_problems_ever_diagnosed_by_a_professional_f20544_0_1,mental_health_problems_ever_diagnosed_by_a_professional_f20544_0_2,mental_health_problems_ever_diagnosed_by_a_professional_f20544_0_3,mental_health_problems_ever_diagnosed_by_a_professional_f20544_0_4,mental_health_problems_ever_diagnosed_by_a_professional_f20544_0_5,mental_health_problems_ever_diagnosed_by_a_professional_f20544_0_6,mental_health_problems_ever_diagnosed_by_a_professional_f20544_0_7,mental_health_problems_ever_diagnosed_by_a_professional_f20544_0_8,...,date_f93_first_reported_emotional_disorders_with_onset_specific_to_childhood_f130982_0_0,source_of_report_of_f93_emotional_disorders_with_onset_specific_to_childhood_f130983_0_0,date_f94_first_reported_disorders_of_social_functioning_with_onset_specific_to_childhood_and_adolescence_f130984_0_0,source_of_report_of_f94_disorders_of_social_functioning_with_onset_specific_to_childhood_and_adolescence_f130985_0_0,date_f95_first_reported_tic_disorders_f130986_0_0,source_of_report_of_f95_tic_disorders_f130987_0_0,date_f98_first_reported_other_behavioural_and_emotional_disorders_with_onset_usually_occurring_in_childhood_and_adolescence_f130988_0_0,source_of_report_of_f98_other_behavioural_and_emotional_disorders_with_onset_usually_occurring_in_childhood_and_adolescence_f130989_0_0,date_f99_first_reported_mental_disorder_not_otherwise_specified_f130990_0_0,source_of_report_of_f99_mental_disorder_not_otherwise_specified_f130991_0_0
0,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Yes,No,Panic attacks,"Anxiety, nerves or generalized anxiety disorder",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,No,No,None,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,No,No,None,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,No,No,None,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Yes,Yes,Depression,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Yes,No,None,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df=pd.read_parquet('../data/ukb_tp0_recode.parquet')

In [41]:
pd.read_parquet('../data/6.feather.feather')

,source_of_report_of_e44_proteinenergy_malnutrition_of_moderate_and_mild_degree_f130759_0_0,date_e45_first_reported_retarded_development_following_proteinenergy_malnutrition_f130760_0_0,source_of_report_of_e45_retarded_development_following_proteinenergy_malnutrition_f130761_0_0,date_e46_first_reported_unspecified_proteinenergy_malnutrition_f130762_0_0,source_of_report_of_e46_unspecified_proteinenergy_malnutrition_f130763_0_0,date_e50_first_reported_vitamin_a_deficiency_f130764_0_0,source_of_report_of_e50_vitamin_a_deficiency_f130765_0_0,date_e51_first_reported_thiamine_deficiency_f130766_0_0,source_of_report_of_e51_thiamine_deficiency_f130767_0_0,date_e52_first_reported_niacin_deficiency_pellagra_f130768_0_0,...,date_l52_first_reported_erythema_nodosum_f131758_0_0,source_of_report_of_l52_erythema_nodosum_f131759_0_0,date_l53_first_reported_other_erythematous_conditions_f131760_0_0,source_of_report_of_l53_other_erythematous_conditions_f131761_0_0,date_l54_first_reported_erythema_in_diseases_classified_elsewhere_f131762_0_0,source_of_report_of_l54_erythema_in_diseases_classified_elsewhere_f131763_0_0,date_l55_first_reported_sunburn_f131764_0_0,source_of_report_of_l55_sunburn_f131765_0_0,date_l56_first_reported_other_acute_skin_changes_due_to_ultraviolet_radiation_f131766_0_0,source_of_report_of_l56_other_acute_skin_changes_due_to_ultraviolet_radiation_f131767_0_0
0,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502406,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
502407,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
502408,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
502409,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
502410,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [9]:
[f for f in os.listdir('../data/') if 'name' in f]

['ukb_field_names.csv', 'fieldnames_full.csv', 'ukb_field_names.xlsx']

In [11]:
fn=pd.read_csv('../data/fieldnames_full.csv')

In [24]:
fn['Array'].value_counts().head(20)

1.0      13819
15.0      1365
114.0     1140
16.0      1088
6.0       1026
40.0       720
34.0       680
32.0       640
243.0      486
5.0        485
117.0      468
105.0      420
3.0        333
33.0       330
4.0        276
12.0       264
7.0        252
124.0      248
2.0        248
120.0      240
Name: Array, dtype: int64

In [38]:
mask=(fn['field.tab'].apply(lambda x:x[len(x)-3:len(x)-2])=='0')
pd.DataFrame(fn.loc[mask,'col.name']).to_csv('../data/cols.csv')

In [39]:
pd.DataFrame(fn.loc[mask,'col.name'])

                                                col.name
1                       verbal_interview_duration_f3_0_0
5                             biometrics_duration_f4_0_0
9                      sample_collection_duration_f5_0_0
13                            conclusion_duration_f6_0_0
17                        heel_ultrasound_method_f19_0_0
...                                                  ...
27227  source_of_report_of_q97_other_sex_chromosome_a...
27228  date_q98_first_reported_other_sex_chromosome_a...
27229  source_of_report_of_q98_other_sex_chromosome_a...
27230  date_q99_first_reported_other_chromosome_abnor...
27231  source_of_report_of_q99_other_chromosome_abnor...

[7806 rows x 1 columns]

In [12]:
cols=pd.DataFrame(df_check.columns)

In [14]:
cols.columns=['field']

In [15]:
cols

                                                   field
0                                                    eid
1                       verbal_interview_duration_f3_0_0
2                       verbal_interview_duration_f3_1_0
3                       verbal_interview_duration_f3_2_0
4                       verbal_interview_duration_f3_3_0
...                                                  ...
27227  source_of_report_of_q97_other_sex_chromosome_a...
27228  date_q98_first_reported_other_sex_chromosome_a...
27229  source_of_report_of_q98_other_sex_chromosome_a...
27230  date_q99_first_reported_other_chromosome_abnor...
27231  source_of_report_of_q99_other_chromosome_abnor...

[27232 rows x 1 columns]

In [7]:
pd.DataFrame(df_check.columns).to_csv('../data/cols.csv')

In [ ]:
df=pd.read_parquet('../data/ukb_tp0_recode.parquet')

In [2]:
from data_setup import *
ds=data_setup()

dict_maps=ds.make_dicts()

In [3]:
field_names2=dict_maps['field_names2']

In [4]:
ds.map_codes()
code_mappings=ds.code_mappings

In [5]:
ukb_tp0=pd.read_parquet('../data/ukb_tp0.parquet')

In [7]:
ukb_tp=ukb_tp0.sample(10000)

In [10]:
cols=[c for c in ukb_tp.columns if ukb_tp[c].nunique()<15]
valdicts=[dict(ukb_tp[c].value_counts()) for c in ukb_tp.columns if ukb_tp[c].nunique()<15]

In [ ]:
df1=pd.DataFrame(ukb_tp0.count()).reset_index()

In [51]:
#ukb_tp=pd.read_parquet('../data/ukb_tp0.parquet')
ukb_tp=read_parq_nrow('../data/ukb_tp0.parquet',n=10000)

In [5]:
%%time
ukb_tp=pd.read_parquet('../data/ukb_tp0.parquet')
ukb_tp=ukb_tp.sample(100000)
test_list=list(ukb_tp.columns)

change_cols=[]
for c in test_list:
   
    
    if np.asarray(field_names2.loc[field_names2['col.name']==c,'Coding'])[0]>0 and ukb_tp[c].nunique()<15 and 'date' not in c and 'device' not in c and ukb_tp[c].count()>50000:
        
        try:
            ctemp=np.asarray(field_names2.loc[field_names2['col.name']==c,'Coding'].astype(int))[0]
            dic_temp=dict(np.asarray(code_mappings.loc[code_mappings['code']==ctemp,'dicts'])[0])


            ukb_tp[c][pd.isnull(ukb_tp[c])]=99
            ukb_tp[c]=ukb_tp[c].astype(int).astype(str)
            ukb_tp[c][pd.notnull(ukb_tp[c])]=ukb_tp[c].map(dic_temp)
            change_cols.append(c)
            
            #
        except:
            print(c)
        
        #print(c,ukb_tp[c].value_counts())

bloodtype_haplotype_f23165_0_0
microalbumin_in_urine_result_flag_f30505_0_0
program_tactus_version_id_compiler_timestamp_f393_0_0
refractometry_result_unreliable_left_f5090_0_0
refractometry_result_unreliable_right_f5091_0_0
3mm_keratometry_result_unreliable_left_f5136_0_0
6mm_keratometry_result_unreliable_left_f5138_0_0
6mm_keratometry_result_unreliable_right_f5139_0_0
3mm_keratometry_result_unreliable_right_f5140_0_0
3mm_asymmetry_index_unreliable_left_f5141_0_0
6mm_asymmetry_index_unreliable_left_f5142_0_0
6mm_asymmetry_index_unreliable_right_f5143_0_0
3mm_asymmetry_index_unreliable_right_f5144_0_0
3mm_regularity_index_unreliable_right_f5145_0_0
6mm_regularity_index_unreliable_right_f5146_0_0
6mm_regularity_index_unreliable_left_f5147_0_0
3mm_regularity_index_unreliable_left_f5148_0_0
death_record_origin_f40020_0_0
cancer_record_origin_f40021_0_0
inpatient_record_origin_f40022_0_0
number_of_babies_delivered_from_single_pregnancy_f41266_0_0
birth_order_f41278_0_0
CPU times: user 6min 21s, sys: 14min 21s, total: 20min 42s
Wall time: 1h 25min 49s

In [14]:
ukb_tp

,eid,pulse_rate_automated_reading_f102_0_0,aidememoire_completed_f111_0_0,birth_weight_known_f120_0_0,place_of_birth_in_uk_north_coordinate_f129_0_0,place_of_birth_in_uk_east_coordinate_f130_0_0,duration_of_strenuous_sports_f1001_0_0,frequency_of_light_diy_in_last_4_weeks_f1011_0_0,duration_of_light_diy_f1021_0_0,frequency_of_friendfamily_visits_f1031_0_0,...,maximum_readings_exceeding_8_gravities_after_calibration_in_a_5_second_epoch_f90186_0_0,total_data_readings_f90187_0_0,sample_rate_average_f90188_0_0,sample_rate_standard_deviation_f90189_0_0,sample_rate_minimum_f90190_0_0,sample_rate_maximum_f90191_0_0,temperature_average_f90192_0_0,temperature_standard_deviation_f90193_0_0,temperature_minimum_f90194_0_0,temperature_maximum_f90195_0_0
23839,1238471,71.0,Yes,No,518500.0,451500.0,NaN,NaN,NaN,2-4 times a week,...,12.0,61073159.0,101.0,0.4,79.0,102.0,21.1,1.5,10.8,23.9
120296,2203149,88.0,Yes,No,398500.0,383500.0,NaN,2.0,3.0,About once a week,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235651,3356997,83.0,No,No,NaN,NaN,NaN,3.0,2.0,About once a week,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
441382,5414868,62.0,Yes,Yes - pounds and ounces,425500.0,409500.0,NaN,2.0,1.0,About once a week,...,16.0,57860056.0,101.9,0.6,43.0,103.4,20.7,2.6,7.4,24.8
169206,2692356,77.0,No,No,NaN,NaN,NaN,NaN,NaN,2-4 times a week,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203843,3038771,73.0,Yes,Yes - pounds and ounces,176500.0,536500.0,NaN,4.0,7.0,About once a week,...,23.0,61301519.0,101.4,0.3,57.0,102.0,21.0,1.3,9.6,25.2
393243,4933388,58.0,Yes,Yes - pounds and ounces,433500.0,330500.0,NaN,2.0,2.0,About once a month,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180849,2808816,53.0,No,No,189500.0,523500.0,5.0,4.0,3.0,2-4 times a week,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51411,1514249,71.0,Yes,No,434500.0,415500.0,NaN,NaN,NaN,About once a week,...,6.0,60755039.0,100.5,0.4,80.2,101.8,19.9,1.6,8.5,23.1
183167,2831993,90.0,Yes,No,572500.0,435500.0,NaN,NaN,NaN,About once a week,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
def rename_vars(df=ukb_tp,cols=test_list):

    change_cols=[]
    for c in cols:


        if np.asarray(field_names2.loc[field_names2['col.name']==c,'Coding'])[0]>0 and df[c].nunique()<15 and 'date' not in c and 'device' not in c and df[c].count()>250000:

            try:
                ctemp=np.asarray(field_names2.loc[field_names2['col.name']==c,'Coding'].astype(int))[0]
                dic_temp=dict(np.asarray(code_mappings.loc[code_mappings['code']==ctemp,'dicts'])[0])


                df[c][pd.isnull(df[c])]=99
                df[c]=df[c].astype(int).astype(str)
                df[c][pd.notnull(df[c])]=df[c].map(dic_temp)
                change_cols.append(c)
            except:
                print(c)
                
    return df

In [19]:
def create_parquets_new(ukb_file='../data/ukb_tp0.parquet',columns=test_list):
    
    i=0
    while i*1000<len(columns):
        i=i+1

        print(i)
        if (i+1)*1000<len(columns):

            mini=i*1000
            maxi=(i+1)*1000-1
        else:
            mini=i*1000
            maxi=len(columns)


        cols=list(set(['eid']+test_list[mini:maxi]))
        df=pd.read_parquet(ukb_file,columns=cols)
        df=rename_vars(df,cols=cols)
        df=exc_parquet(df,outfile='../data/ukb_processed'+str(i))

In [20]:
create_parquets_new()

1
2
3
bloodtype_haplotype_f23165_0_0
running exception
4
5
6
microalbumin_in_urine_result_flag_f30505_0_0
running exception
7
death_record_origin_f40020_0_0
refractometry_result_unreliable_right_f5091_0_0
inpatient_record_origin_f40022_0_0
birth_order_f41278_0_0
6mm_regularity_index_unreliable_right_f5146_0_0
6mm_keratometry_result_unreliable_left_f5138_0_0
refractometry_result_unreliable_left_f5090_0_0
6mm_asymmetry_index_unreliable_left_f5142_0_0
3mm_regularity_index_unreliable_right_f5145_0_0
3mm_asymmetry_index_unreliable_right_f5144_0_0
6mm_asymmetry_index_unreliable_right_f5143_0_0
number_of_babies_delivered_from_single_pregnancy_f41266_0_0
3mm_keratometry_result_unreliable_right_f5140_0_0
6mm_keratometry_result_unreliable_right_f5139_0_0
3mm_regularity_index_unreliable_left_f5148_0_0
program_tactus_version_id_compiler_timestamp_f393_0_0
cancer_record_origin_f40021_0_0
3mm_asymmetry_index_unreliable_left_f5141_0_0
6mm_regularity_index_unreliable_left_f5147_0_0
3mm_keratometry_result_unreliable_left_f5136_0_0
8
9

In [5]:
%time
df=load_parquets(file='../data/ukb_processed',imin=1,imax=10)

CPU times: user 1 µs, sys: 0 ns, total: 1 µs
Wall time: 2.86 µs
1
2
3
4
5
6
7
8
9

In [12]:
valdicts_mapped=[dict(ukb_tp[c].value_counts()) for c in ukb_tp.columns if ukb_tp[c].nunique()<15]

In [16]:
count_recs=[ukb_tp[c].count() for c in ukb_tp.columns if ukb_tp[c].nunique()<15]

In [17]:
df_dict=pd.DataFrame({'column':cols,'dictvals':valdicts,'mapped_vals':valdicts_mapped,'count_recs':count_recs})

In [18]:
df_dict.to_csv('../data/vardict.csv')

In [ ]:
vallistcomp_orig=pd.read_csv(dp.path+'vallistcomp_edited.csv')

In [24]:

df_dict.loc[~(df_dict['column'].isin(vallistcomp_orig['column']))&
                ~(df_dict['column'].str.contains('device_id'))&(df_dict['count_recs']>5000),].to_csv('../data/check.csv')

In [26]:
vallistcomp_orig.loc[(vallistcomp_orig['column'].isin(df_dict['column']))]

,Unnamed: 0,column,merge,recs,Do
0,104.0,mean_corpuscular_haemoglobin_freezethaw_cycles...,{0.0},33,Exclude
1,132.0,monocyte_percentage_freezethaw_cycles_f30191_0_0,{0.0},33,Exclude
2,140.0,nucleated_red_blood_cell_percentage_freezethaw...,{0.0},33,Exclude
3,98.0,haemoglobin_concentration_freezethaw_cycles_f3...,{0.0},33,Exclude
4,110.0,platelet_count_freezethaw_cycles_f30081_0_0,{0.0},33,Exclude
...,...,...,...,...,...
229,NaN,frequency_of_friendfamily_visits_f1031_0_0,"{'Never or almost never', 'Do not know', 'Once...",1,"{'Never or almost never':1, 'Once every few mo..."
230,NaN,drive_faster_than_motorway_speed_limit_f1100_0_0,"{'Often', 'Most of the time', 'Never/rarely', ...",1,"{'Often':3, 'Most of the time':4, 'Never/rarel..."
231,NaN,able_to_confide_f2110_0_0,"{'Never or almost never', 'Do not know', 'Once...",1,"{'Never or almost never':0, 'Once every few m..."
232,NaN,overall_health_rating_f2178_0_0,"{'Good', 'Fair', 'Do not know', 'Excellent', '...",1,"{'Good':2, 'Fair':1, 'Excellent':3, 'Poor':0}"
233,NaN,use_of_sunuv_protection_f2267_0_0,"{'Most of the time', 'Never/rarely', 'Do not k...",1,"{'Most of the time':2, 'Never/rarely':0, 'Som..."

In [10]:
col_counts=[ukb_tp[c].count() for c in ukb_tp.columns]

In [22]:
len([c for c in ukb_tp.columns if c[len(c)-3:len(c)-2]=='0'])

5505

In [27]:
def first_att(string):
    return string[len(string)-3:len(string)-2]=='0'

In [29]:
first_att('valine_qc_flag_f23767_01_0')

False

In [15]:
len([c for c in col_counts if c>5000])

907

In [18]:
col_vals=[dict(ukb_tp[c].value_counts()) for c in ukb_tp.columns]

In [23]:
df=pd.DataFrame({'column':ukb_tp.columns,'counts':col_counts,'vals':col_vals})

In [20]:
df.to_csv('../data/ukb_col_counts.csv')

In [30]:
df.loc[df['column'].apply(first_att),].sample(20)

,column,counts,vals
7162,heel_broadband_ultrasound_attenuation_bua_manu...,36,"{44.0: 1, 66.4: 1, 103.6: 1, 83.6: 1, 76.3: 1,..."
719,source_of_report_of_a98_other_viral_haemorrhag...,0,{}
2330,date_m42_first_reported_spinal_osteochondrosis...,3,"{'2010-09-28': 1, '1995-03-02': 1, '2009-07-13..."
3752,pp_52_antigen_for_human_cytomegalovirus_f23008...,194,"{40.0: 4, 64.0: 3, 1.0: 3, 46.0: 3, 19.0: 2, 1..."
7831,source_of_motor_neurone_disease_report_f42029_0_0,0,{}
1293,source_of_report_of_g40_epilepsy_f131049_0_0,198,"{'Self-report and other source(s)': 73, 'Hospi..."
2793,source_of_report_of_p52_intracranial_nontrauma...,0,{}
8038,temperature_average_f90192_0_0,2066,"{20.5: 98, 20.3: 98, 20.9: 93, 20.2: 90, 20.7:..."
627,source_of_report_of_a42_actinomycosis_f130073_0_0,3,"{'Primary care only': 2, 'Hospital admissions ..."
2454,date_n18_first_reported_chronic_renal_failure_...,517,"{'2015-06-16': 3, '2007-10-31': 2, '2016-09-20..."
1055,source_of_report_of_e73_lactose_intolerance_f1...,8,"{'Hospital admissions data only': 4, 'Primary ..."
4458,close_to_major_road_f24014_0_0,9851,"{'No': 9169, 'Yes': 682}"
1328,date_g61_first_reported_inflammatory_polyneuro...,20,"{'2003-03-20': 1, '2000-07-11': 1, '2010-12-23..."
2307,source_of_report_of_m23_internal_derangement_o...,426,"{'Hospital admissions data only': 387, 'Primar..."
2955,source_of_report_of_q76_congenital_malformatio...,25,"{'Primary care only': 14, 'Hospital admissions..."
7141,ankle_spacing_width_left_f4100_0_0,3292,"{41.98: 13, 46.143: 12, 43.727: 12, 39.952: 11..."
2690,date_o72_first_reported_postpartum_haemorrhage...,28,"{'1998-07-20': 1, '1976-04-27': 1, '1998-10-27..."
260,icecream_intake_f102120_0_0,148,"{'1': 110, 'half': 30, '2': 6, '3+': 2}"
2048,facial_ageing_f1757_0_0,9892,"{'Younger than you are': 6730, 'About your age..."
7799,mother_age_on_date_of_delivery_f41286_0_0,233,"{36.0: 32, 33.0: 26, 37.0: 22, 34.0: 21, 35.0:..."

In [54]:
ukb_tp[change_cols]

,aidememoire_completed_f111_0_0,birth_weight_known_f120_0_0,duration_of_strenuous_sports_f1001_0_0,frequency_of_light_diy_in_last_4_weeks_f1011_0_0,duration_of_light_diy_f1021_0_0,frequency_of_friendfamily_visits_f1031_0_0,drive_faster_than_motorway_speed_limit_f1100_0_0,length_of_mobile_phone_use_f1110_0_0,weekly_usage_of_mobile_phone_in_last_3_months_f1120_0_0,handsfree_devicespeakerphone_use_with_mobile_phone_in_last_3_month_f1130_0_0,...,data_quality_good_calibration_f90016_0_0,data_quality_calibrated_on_own_data_f90017_0_0,daylight_savings_crossover_f90018_0_0,first_weekday_of_wear_f90026_0_0,number_of_daysweek_of_vigorous_physical_activity_10_minutes_f904_0_0,usual_walking_pace_f924_0_0,frequency_of_stair_climbing_in_last_4_weeks_f943_0_0,frequency_of_walking_for_pleasure_in_last_4_weeks_f971_0_0,duration_walking_for_pleasure_f981_0_0,frequency_of_strenuous_sports_in_last_4_weeks_f991_0_0
0,Yes,No,NaN,NaN,NaN,About once a month,Never/rarely,Never used mobile phone at least once per week,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Brisk pace,11-15 times a day,NaN,NaN,NaN
1,Yes,Yes - pounds and ounces,NaN,Once a week,Between 30 minutes and 1 hour,About once a week,Do not drive on the motorway,Five to eight years,Less than 5mins,Never or almost never,...,NaN,NaN,NaN,NaN,NaN,Brisk pace,6-10 times a day,NaN,NaN,NaN
2,Yes,Yes - pounds and ounces,NaN,Every day,Between 1.5 and 2 hours,2-4 times a week,Never/rarely,More than eight years,30-59 mins,Never or almost never,...,Yes,Yes,No,Thursday,NaN,Steady average pace,6-10 times a day,4-5 times a week,Between 30 minutes and 1 hour,NaN
3,Yes,Yes - pounds and ounces,NaN,NaN,NaN,2-4 times a week,Never/rarely,Five to eight years,5-29 mins,Never or almost never,...,NaN,NaN,NaN,NaN,NaN,Steady average pace,More than 20 times a day,Once a week,Between 30 minutes and 1 hour,NaN
4,Yes,Yes - pounds and ounces,NaN,Once a week,Between 1.5 and 2 hours,About once a month,Never/rarely,Five to eight years,Less than 5mins,Never or almost never,...,NaN,NaN,NaN,NaN,NaN,Brisk pace,16-20 times a day,Every day,Between 1 and 1.5 hours,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Yes,Yes - pounds and ounces,NaN,2-3 times a week,Between 15 and 30 minutes,About once a month,Sometimes,Five to eight years,5-29 mins,Never or almost never,...,Yes,Yes,No,Saturday,NaN,Brisk pace,6-10 times a day,2-3 times a week,Between 30 minutes and 1 hour,NaN
9996,Yes,No,NaN,NaN,NaN,About once a week,Often,More than eight years,1-3 hours,Never or almost never,...,NaN,NaN,NaN,NaN,NaN,Brisk pace,None,4-5 times a week,Between 15 and 30 minutes,NaN
9997,Yes,Yes - pounds and ounces,NaN,2-3 times in the last 4 weeks,Between 15 and 30 minutes,2-4 times a week,Sometimes,More than eight years,30-59 mins,Never or almost never,...,NaN,NaN,NaN,NaN,NaN,Steady average pace,11-15 times a day,Once a week,Between 15 and 30 minutes,NaN
9998,No,Yes - pounds and ounces,NaN,NaN,NaN,About once a week,Never/rarely,Never used mobile phone at least once per week,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Steady average pace,1-5 times a day,4-5 times a week,Between 15 and 30 minutes,NaN
9999,Yes,Yes - pounds and ounces,NaN,NaN,NaN,2-4 times a week,Sometimes,More than eight years,30-59 mins,Never or almost never,...,NaN,NaN,NaN,NaN,NaN,Brisk pace,11-15 times a day,2-3 times a week,Between 30 minutes and 1 hour,NaN

In [55]:
len(change_cols)

2842

In [59]:
ukb_tp[dp.findcols(ukb_tp,'bothered')]

,area_most_bothered_by_pain_in_the_last_three_months_f120037_0_0,bothered_by_light_when_headaches_were_at_their_worst_f120063_0_0,bothered_by_sound_when_headaches_were_at_their_worst_f120064_0_0,degree_bothered_by_back_pain_in_the_past_3_months_f21048_0_0,degree_bothered_by_pain_in_armslegsjoints_in_the_past_3_months_f21049_0_0,degree_bothered_by_menstrual_cramps_or_other_problems_with_period_in_the_last_3_months_f21050_0_0,degree_bothered_by_headaches_in_the_last_3_months_f21051_0_0,degree_bothered_by_chest_pain_in_the_last_3_months_f21052_0_0,degree_bothered_by_dizziness_in_the_last_3_months_f21053_0_0,degree_bothered_by_fainting_spells_in_the_last_3_months_f21054_0_0,degree_bothered_by_feeling_heart_poundrace_in_the_last_3_months_f21055_0_0,degree_bothered_by_shortness_of_breath_in_the_last_3_months_f21056_0_0,degree_bothered_by_painproblems_during_intercourse_in_the_last_3_months_f21057_0_0,degree_bothered_by_urinary_frequencybladder_irritability_in_the_last_3_months_f21058_0_0,degree_bothered_by_nausea_in_the_last_3_months_f21059_0_0,degree_bothered_by_feeling_tired_all_the_time_in_the_last_3_months_f21060_0_0,degree_bothered_by_trouble_sleeping_in_the_last_3_months_f21061_0_0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Bothered a little,Bothered a little,Not bothered at all,Bothered a little,Not bothered at all,Bothered a little,Not bothered at all,Not bothered at all,Bothered a little,Not bothered at all,Bothered a lot,Not bothered at all,Bothered a little,Bothered a little
2,Pain in hands,Less than half the time,Rarely,Bothered a little,Bothered a lot,Not applicable,Bothered a little,Not bothered at all,Not bothered at all,Not bothered at all,Bothered a little,Not bothered at all,Not bothered at all,Bothered a little,Not bothered at all,Bothered a little,Bothered a little
3,Knee pain,NaN,NaN,Prefer not to answer,Prefer not to answer,Not applicable,Not bothered at all,Not bothered at all,Not bothered at all,Not bothered at all,Not bothered at all,Not bothered at all,Not applicable,Not bothered at all,Not bothered at all,Bothered a little,Bothered a little
4,NaN,NaN,NaN,Bothered a little,Bothered a little,Not applicable,Bothered a little,Not bothered at all,Bothered a little,Not bothered at all,Bothered a little,Not bothered at all,Not bothered at all,Not bothered at all,Not bothered at all,Bothered a little,Bothered a little
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,NaN,NaN,NaN,Not bothered at all,Bothered a lot,NaN,Not bothered at all,Not bothered at all,Not bothered at all,Not bothered at all,Not bothered at all,Not bothered at all,Not bothered at all,Not bothered at all,Not bothered at all,Not bothered at all,Not bothered at all
9996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,Legs,NaN,NaN,Bothered a lot,Bothered a little,Not applicable,Not bothered at all,Not bothered at all,Not bothered at all,Not bothered at all,Bothered a little,Not bothered at all,Not applicable,Not bothered at all,Not bothered at all,Bothered a little,Not bothered at all
9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
ukb_tp['degree_bothered_by_pain_in_armslegsjoints_in_the_past_3_months_f21049_0_0'].value_counts()

Bothered a little       1711
Not bothered at all     1002
Bothered a lot           717
Prefer not to answer       1
Name: degree_bothered_by_pain_in_armslegsjoints_in_the_past_3_months_f21049_0_0, dtype: int64

In [41]:
ukb_tp['source_of_frontotemporal_dementia_report_f42025_0_0'].value_counts()

Series([], Name: source_of_frontotemporal_dementia_report_f42025_0_0, dtype: int64)

In [46]:
ukb_tp.shape

(1000, 8042)

In [2]:
code_map=pd.read_csv('../data/code_map2.csv')
code_names=[]
code_dicts=[]
for c in code_map['Coding'].unique():
    df1=code_map.loc[code_map['Coding']==c,]
    dict1=dict(zip(df1['Value'],df1['Meaning']))
    code_names.append(c)
    code_dicts.append(dict1)
code_mappings=pd.DataFrame({'code':code_names,'dicts':code_dicts})

In [10]:
df=pd.read_parquet(dp.path+'df_dis_date_test2.parquet')

In [14]:
df.loc[(df['disease_name_new'].str.contains('bipolar')),'eid'].nunique()

1866

In [2]:
icd10s=dp.ukb_icd10()

In [3]:
dis2_map=dict(zip(icd10s['code'],icd10s['disease']))

In [4]:
dis2_map['E11']

'noninsulindependent diabetes mellitus'

In [5]:
code_map=pd.read_csv('../data/code_map2.csv')
icd10_lkup=code_map.loc[code_map['Coding']==19,['Value','Meaning']]
icd10_lkup['Meaning']=icd10_lkup['Meaning'].apply(lambda x:x.lower())
icd10_lkup_dict=dict(zip(icd10_lkup['Value'],icd10_lkup['Meaning']))
icd10_lkup.to_parquet('../data/icd10_lkup.parquet')

In [22]:
field_names2=dict_maps['field_names2']

In [23]:
ukb_tp['aidememoire_completed_f111_0_0']

0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
         ...
502406    0.0
502407    1.0
502408    1.0
502409    1.0
502410    0.0
Name: aidememoire_completed_f111_0_0, Length: 502411, dtype: float64

In [ ]:
test_list=list(ukb_tp.columns[1:100])
for c in test_list:
    
    if np.asarray(field_names2.loc[field_names2['col.name']==c,'Coding'])[0]>0:
        ctemp=np.asarray(field_names2.loc[field_names2['col.name']==c,'Coding'].astype(int))[0]
        dic_temp=dict(np.asarray(code_mappings.loc[code_mappings['code']==ctemp,'dicts'])[0])
        
        ukb_tp.loc[pd.notnull(ukb_tp[c]),c]=ukb_tp.loc[pd.notnull(ukb_tp[c]),c].astype(int).astype(str).map(dic_temp)
        
        #print(c,' ',ctemp)
        #print(ukb_tp.loc[pd.notnull(ukb_tp[c]),c].astype(int).astype(str).map(dic_temp).value_counts())

In [27]:
code_health=np.asarray(field_names2.loc[field_names2['col.name']=='overall_health_rating_f2178_0_0','Coding'].astype(int))[0]

In [28]:
code_health

100508

In [33]:
ukb_tp['overall_health_rating_f2178_0_0'].value_counts()

 2.0    288968
 3.0    105344
 1.0     81844
 4.0     22769
-1.0      2203
-3.0       365
Name: overall_health_rating_f2178_0_0, dtype: int64

In [32]:
dict(np.asarray(code_mappings.loc[code_mappings['code']==code_health,'dicts'])[0])

{'-1': 'Do not know',
 '-3': 'Prefer not to answer',
 '1': 'Excellent',
 '2': 'Good',
 '3': 'Fair',
 '4': 'Poor'}

In [41]:
code_mappings

       code                                              dicts
0         1                                       {'1': 'Yes'}
1         2  {'0': 'Other job (free text entry)', '1': 'Man...
2         3  {'-1': 'urinary tract cancer', '1001': 'lung c...
3         4  {'1140850692': 'aludrox gel', '1140850708': 'd...
4         5  {'-1': 'upper gi surgery', '1069': 'heart surg...
..      ...                                                ...
608  100696                                {'-1': 'Abandoned'}
609  100697  {'1': '49', '2': '50', '3': '51', '4': '52', '...
610  100698              {'-313': 'Ongoing when data entered'}
611  100699  {'1': 'Disk access problem', '99': 'Miscellane...
612  100700         {'0': 'low', '1': 'moderate', '2': 'high'}

[613 rows x 2 columns]

In [24]:
field_names2

,Unnamed: 0_x,field.showcase,field.html,field.tab,col.type,col.name,FieldID,Unnamed: 0_y,Path,Category,...,Sexed,Instances,Array,Coding,Notes,Link,field_type0,field_type1,field_type2,field_type3
0,1,eid,eid,f.eid,Sequence,eid,eid,NaN,nan,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nan,N/A,N/A,N/A
1,2,3,3-0.0,f.3.0.0,Integer,verbal_interview_duration_f3_0_0,3,1.0,Assessment Centre > Procedural metrics > Proce...,152.0,...,Unisex,4.0,1.0,NaN,Time taken for interview,http://biobank.ndph.ox.ac.uk/ukb/field.cgi?id=3,Assessment Centre,Procedural metrics,Process durations,N/A
2,3,3,3-1.0,f.3.1.0,Integer,verbal_interview_duration_f3_1_0,3,1.0,Assessment Centre > Procedural metrics > Proce...,152.0,...,Unisex,4.0,1.0,NaN,Time taken for interview,http://biobank.ndph.ox.ac.uk/ukb/field.cgi?id=3,Assessment Centre,Procedural metrics,Process durations,N/A
3,4,3,3-2.0,f.3.2.0,Integer,verbal_interview_duration_f3_2_0,3,1.0,Assessment Centre > Procedural metrics > Proce...,152.0,...,Unisex,4.0,1.0,NaN,Time taken for interview,http://biobank.ndph.ox.ac.uk/ukb/field.cgi?id=3,Assessment Centre,Procedural metrics,Process durations,N/A
4,5,3,3-3.0,f.3.3.0,Integer,verbal_interview_duration_f3_3_0,3,1.0,Assessment Centre > Procedural metrics > Proce...,152.0,...,Unisex,4.0,1.0,NaN,Time taken for interview,http://biobank.ndph.ox.ac.uk/ukb/field.cgi?id=3,Assessment Centre,Procedural metrics,Process durations,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27227,27228,132601,132601-0.0,f.132601.0.0,Categorical (single),source_of_report_of_q97_other_sex_chromosome_a...,132601,8268.0,Health-related outcomes > First occurrences > ...,2417.0,...,Unisex,1.0,1.0,2171.0,Source of the first code mapped to 3-character...,http://biobank.ndph.ox.ac.uk/ukb/field.cgi?id=...,Health-related outcomes,First occurrences,Congenital disruptions and chromosomal abnorm...,N/A
27228,27229,132602,132602-0.0,f.132602.0.0,Date,date_q98_first_reported_other_sex_chromosome_a...,132602,8269.0,Health-related outcomes > First occurrences > ...,2417.0,...,Unisex,1.0,1.0,819.0,Date of the first occurrence of any code mappe...,http://biobank.ndph.ox.ac.uk/ukb/field.cgi?id=...,Health-related outcomes,First occurrences,Congenital disruptions and chromosomal abnorm...,N/A
27229,27230,132603,132603-0.0,f.132603.0.0,Categorical (single),source_of_report_of_q98_other_sex_chromosome_a...,132603,8270.0,Health-related outcomes > First occurrences > ...,2417.0,...,Unisex,1.0,1.0,2171.0,Source of the first code mapped to 3-character...,http://biobank.ndph.ox.ac.uk/ukb/field.cgi?id=...,Health-related outcomes,First occurrences,Congenital disruptions and chromosomal abnorm...,N/A
27230,27231,132604,132604-0.0,f.132604.0.0,Date,date_q99_first_reported_other_chromosome_abnor...,132604,8271.0,Health-related outcomes > First occurrences > ...,2417.0,...,Unisex,1.0,1.0,819.0,Date of the first occurrence of any code mappe...,http://biobank.ndph.ox.ac.uk/ukb/field.cgi?id=...,Health-related outcomes,First occurrences,Congenital disruptions and chromosomal abnorm...,N/A
27231,27232,132605,132605-0.0,f.132605.0.0,Categorical (single),source_of_report_of_q99_other_chromosome_abnor...,132605,8272.0,Health-related outcomes > First occurrences > ...,2417.0,...,Unisex,1.0,1.0,2171.0,Source of the first code mapped to 3-character...,http://biobank.ndph.ox.ac.uk/ukb/field.cgi?id=...,Health-related outcomes,First occurrences,Congenital disruptions and chromosomal abnorm...,N/A

In [32]:
cols_dpn=['eid','ever_had_diabetic_neuropathy_f120079_0_0','diabetes_diagnosed_by_doctor_f2443_0_0']
[c for c in varmap if varmap[c] in cols_dpn]

['f.eid', 'f.2443.0.0', 'f.120079.0.0']

In [ ]:
df_pain_ukb=pd.read_csv(ukb_file,sep='\t',usecols=pain_cols)
df_pain_ukb.columns=[varmap[c] for c in df_pain_ukb.columns]
df_pain_ukb.to_parquet('../data/df_pain_ukb.parquet')

In [31]:
[c for c in colsnew2 if 'diab' in c]

['gestational_diabetes_only_pilot_f10844_0_0',
 'ever_had_diabetes_type_i_or_type_ii_f120007_0_0',
 'ever_had_any_cause_of_nerve_damageneuropathy_other_than_diabetic_neuropathy_f120008_0_0',
 'ever_had_diabetic_neuropathy_f120079_0_0',
 'date_e10_first_reported_insulindependent_diabetes_mellitus_f130706_0_0',
 'source_of_report_of_e10_insulindependent_diabetes_mellitus_f130707_0_0',
 'date_e11_first_reported_noninsulindependent_diabetes_mellitus_f130708_0_0',
 'source_of_report_of_e11_noninsulindependent_diabetes_mellitus_f130709_0_0',
 'date_e12_first_reported_malnutritionrelated_diabetes_mellitus_f130710_0_0',
 'source_of_report_of_e12_malnutritionrelated_diabetes_mellitus_f130711_0_0',
 'date_e13_first_reported_other_specified_diabetes_mellitus_f130712_0_0',
 'source_of_report_of_e13_other_specified_diabetes_mellitus_f130713_0_0',
 'date_e14_first_reported_unspecified_diabetes_mellitus_f130714_0_0',
 'source_of_report_of_e14_unspecified_diabetes_mellitus_f130715_0_0',
 'date_e15_first_reported_nondiabetic_hypoglycaemic_coma_f130716_0_0',
 'source_of_report_of_e15_nondiabetic_hypoglycaemic_coma_f130717_0_0',
 'date_o24_first_reported_diabetes_mellitus_in_pregnancy_f132202_0_0',
 'source_of_report_of_o24_diabetes_mellitus_in_pregnancy_f132203_0_0',
 'diabetes_diagnosed_by_doctor_f2443_0_0',
 'age_diabetes_diagnosed_f2976_0_0',
 'started_insulin_within_one_year_diagnosis_of_diabetes_f2986_0_0',
 'gestational_diabetes_only_f4041_0_0',
 'which_eyes_affected_by_diabetesrelated_eye_disease_f5890_0_0',
 'age_when_diabetesrelated_eye_disease_diagnosed_f5901_0_0',
 'medication_for_cholesterol_blood_pressure_diabetes_or_take_exogenous_hormones_f6153_0_0',
 'medication_for_cholesterol_blood_pressure_or_diabetes_f6177_0_0']

In [17]:
mask=(field_names2['col.name'].str.lower().str.contains('pain'))
pain_cols=['f.eid']+list(field_names2.loc[mask,'field.tab'])

In [18]:
%%time
df_pain_ukb=pd.read_csv(ukb_file,sep='\t',usecols=pain_cols)
df_pain_ukb.to_parquet('../data/df_pain_ukb.parquet')

/Users/michaelallwright/opt/anaconda3/lib/python3.9/site-packages/IPython/core/magics/execution.py:1324: DtypeWarning: Columns (26806) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code, glob, local_ns)

CPU times: user 5min 21s, sys: 13.4 s, total: 5min 34s
Wall time: 5min 36s

In [21]:
df_pain_ukb.columns=[varmap[c] for c in df_pain_ukb.columns]

In [22]:
df_pain_ukb.to_parquet('../data/df_pain_ukb.parquet')

In [28]:
[c for c in df_pain_ukb.columns if 'f120019' in c]

['troubled_by_pain_or_discomfort_present_for_more_than_3_months_f120019_0_0']

In [29]:
df_pain_ukb['troubled_by_pain_or_discomfort_present_for_more_than_3_months_f120019_0_0'].value_counts()

 1.0      94059
 0.0      72733
-121.0      384
-818.0       26
Name: troubled_by_pain_or_discomfort_present_for_more_than_3_months_f120019_0_0, dtype: int64

In [6]:
field_names2.to_csv('../data/fieldnames_full.csv')

In [7]:
field_names2.loc[field_names2['col.name']=='frequency_of_light_diy_in_last_4_weeks_f1011_0_0','Coding'].astype(int)

837    100317
Name: Coding, dtype: int64

In [9]:
icds_all=['f.eid']+[c for c in varmap if 'icd10' in varmap[c] or 'icd9' in varmap[c]]

In [145]:
cols_agedate=['f.eid']+[c for c in varmap if 'age_when_attended_assessment_centre_f21003_0_0' in varmap[c] or 'date_of_attending_assessment_centre_f53_0_0' in varmap[c]]

In [146]:
cols_agedate

['f.eid', 'f.53.0.0', 'f.21003.0.0']

In [147]:
df_date_age=pd.read_csv(ukb_file,sep='\t',usecols=cols_agedate)
df_date_age.columns=[varmap[c] for c in df_date_age.columns]
df_date_age['eid']=df_date_age['eid'].astype(str)

In [10]:
df_icds_all=pd.read_csv(ukb_file,sep='\t',usecols=icds_all)

/Users/michaelallwright/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (21070,21071,21118,21119,21120,21121,21122,21123,21124,21125,21126,21127,21128,21129,21130,21131,21133,21134,21135,21345,21346,21347,21348,21349,21350,21351,21352,21353,21354,21355,21356,21357,21358,21359,21360,21361,21362,21363,21364,21365,21366,21367,21368,21369,21370,21371,21372,21373,21374,21375,21376,21377,21378,21379,21380,21381,21382,21383,21384,21385,21386,21387,21388,21389,21390,21391,21392,21393,21394,21395,21396,21397,21398,21399,21400,21401,21402,21403,21404,21405,21406,21407,21408,21409,21410,21411,21412,21413,21414,21415,21416,21417,21418,21419,21420,21421,21422,21423,21424,21425,21426,21427,21428,21429,21430,21431,21432,21433,21434,21435,21440,21454,21455,21456,21457,21458,21459,21460,21461,21462,21463,21464,21465,21466,21467,21468,21469,21470,21471,21472,21473,21474,21475,21476,21477,21478,21479,21480,21481,21482,21483,21484,21485,21486,21487,21488,21489,21490,21491,21492,21493,21494,21495,21496,21497,21498,21499,21500,21501,21502,21503,21504,21505,21506,21507,21508,21509,21510,21511,21512,21513,21514,21515,21516,21517,21518,21519,21520,21521,21522,21523,21524,21525,21526,21527,21528,21529,21530,21531,21532,21533,21534,21535,21536,21537,21538,21539,21540,21541,21542,21543,21544,21545,21546,21547,21548,21549,21550,21551,21552,21553,21554,21555,21556,21557,21558,21559,21560,21561,21562,21563,21564,21565,21566,21567,21568,21569,21570,21571,21572,21573,21574,21575,21576,21577,21578,21579,21580,21581,21582,21583,21584,21585,21586,21587,21588,21589,21590,21591,21592,21593,21594,21595,21596,21597,21598,21599,21600,21601,21602,21603,21604,21605,21606,21607,21608,21609,21610,21611,21612,21613,21614,21615,21616,21617,21618,21619,21620,21621,21622,21623,21624,21625,21626,21627,21628,21629,21630,21631,21632,21633,21634,21635,21636,21637,21638,21639,21640,21641,21642,21643,21644,21645,21646,21647,21648,21649,21650,21651,21652,21653,21654,21655,21656,21657,21658,21659,21662,21663,22145,22146,22147,22148,22149,22150,22151,22152,22153,22154,22155,22156,22157,22158,22159,22160,22161,22162,22163,22164,22165,22166,22167,22168,22169,22170,22171,22172,22173,22174,22175,22176,22177,22178,22179,22180,22181,22182,22183,22184,22185,22186,22187,22188,22189,22190,22191,22192,22193,22194,22195,22196,22197,22198,22199,22200,22201,22202,22203,22204,22205,22206,22207,22208,22209,22210,22211,22212,22213,22214,22215,22216,22217,22218,22219,22220,22221,22222,22223,22224,22225,22226,22227,22228,22229,22230,22231,22232,22233,22234,22235,22236,22237,22238,22239,22240,22241,22242,22243,22244,22245,22280,22281,22282,22283,22284,22285,22286,22287,22288,22289,22290,22291,22292,22293,22294,22295,22296,22297,22298,22299,22300,22301,22302,22303,22304,22305,22306,22307,22308,22309,22310,22311,22312,22313,22314,22315,22316,22317,22318,22319,22320,22321,22322,22323,22324,22325,22326,22327,22328,22329,22330,22331,22332,22333,22334,22335,22336,22337,22338,22339,22340,22341,22342,22343,22344,22345,22346,22347,22348,22349,22350,22351,22352,22353,22354,22355,22356,22357,22358,22359,22360,22361,22362,22363,22364,22365,22366,22367,22368,22369,22370,22371,22372,22373,22374,22375,22376,22377,22378,22379,22380,22381,22382,22383,22384,22385,22386,22387,22388,22389,22390,22391,22392,22393,22394,22395,22396,22397,22398,22399,22400,22401,22402,22403,22404,22405,22406,22407,22408,22409,22410,22411,22412,22413,22414,22415,22416,22417,22418,22419,22420,22421,22422,22423,22424,22425,22426,22427,22428,22429,22430,22431,22432,22433,22434,22435,22436,22437,22438,22439,22440,22441,22442,22443,22444,22445,22446,22447,22448,22449,22450,22451,22452,22453,22454,22455,22456,22457,22458,22459,22460,22461,22462,22463,22464,22465,22466,22467,22468,22469,22470,22471,22472,22473,22474,22475,22476,22477,22478,22479,22480,22481,22482,22483,22484,22485,22486,22487,22488,22489,22490,22491,22492,22493,22494,22495,22496,22497,22498,22499,22500,22501,22502,22503,22504,22505,22506,22507,22508,22509,22510,22511,22512,22513,22514,22515,22516,22517,22518,22519,22520,22521,22522,22523,22524,22525,22526,22527,22528,22529,22530,22531,22532,22533,22534,22535,22536,22537,22538,22539,22540,22541,22542,22543,22544,22545,22546,22551,22552,22553,22554,22555,22556,22730,22731,22732,22733,22734,22735,22736,22737,22738,22739,22740,22741,22742,22743,22744,22745,22746,22747,22748,22749,22750,22751,22752,22753,22754,22755,22756,22757,22758,22759,22760,22761,22762,22763,22764,22765,22766,22767,22768,22769,22770,22771,22772,22773,22774,22775,22776,22777,22778,22779,22780,22781,22782,22783,22784,22785,22786,22787,22788,22789,22790,22791,22792,22793,22794,22795,22796,22797,22798,22799,22800,22801,22802,22803,22804,22805,22806,22807,22808,22809,22810,22811,22812,22813,22814,22815,22816,22817,22818,22819,22820,22821,22822,22823,22824,22825,22826,22827,22828,22829,22830,22831,22832,22833,22834,22835,22836,22837,22838,22839,22840,22841,22842,22843,22844,22845,22846,22847,22848,22849,22850,22851,22852,22853,22854,22855,22856,22857,22858,22859,22860,22861,22862,22863,22864,22865,22866,22867,22868,22869,22870,22871,22872,22873,22874,22875,22876,22877,22878,22879,22880,22881,22882,22883,22884,22885,22886,22887,22888,22889,22890,22891,22892,22893,22894,22895,22896,22897,22898,22899,22900,22901,22902,22903,22904,22905,22906,22907,22908,22909,22910,22911,22912,22913,22914,22915,22916,22917,22918,22919,22920,22921,22922,22923,22924,22925,22926,22927,22928,22929,22930,22931,22932,22933,22934,22935,22936,22937,22938,22939,22940,22941,22942,22943,22944,22945,22946,22947,22948,22949,22950,22951,22952,22953,22954,22955,22956,22957,22958,22959,22960,22961,22962,22963,22964,22965,22966,22967,22968,22969,22970,22971,22972,22973,22974,22975,22976,22977,22978,22979,22980,22981,22982,22983,22984,22985,22986,22987,22988,22989,22990,22991,22992,22993,22994,22995,22996,22997,22998,22999,23000,23001,23002,23003,23004,23005,23006) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(502411, 1048)

In [153]:
df_icds_all['eid']=df_icds_all['eid'].astype(str)
icd10_cols=[c for c in df_icds_all.columns if 'eid' in c or '41270' in c or '41280' in c]
df_icds_all_sub=df_icds_all[icd10_cols]
df_icds_all_sub=pd.merge(df_icds_all_sub,df_date_age,on='eid',how='inner')
df_icds_all_sub.to_parquet('../data/df_ICD10_20220328.parquet')

In [158]:
df_icds_all_sub.to_parquet(dp.path+'df_ICD10_20220328.parquet')

In [156]:
df_icds_all_sub=pd.read_parquet('../data/df_ICD10_20220328.parquet')

In [141]:
df=pd.read_parquet('%s%s' % (dp.path,dp.icd10_file))

In [9]:
df_dis_date,dis_ohe_icd10=dp.dis_date_file(infile='df_ICD10_20220328.parquet',outfile='dis_ohe_icd10_20220328.parquet')

/Users/michaelallwright/Documents/GitHub/UKB/code/../../ukb-dementia-shap/logic/data_processing/data_processing.py:385: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dis_date['dis_bef'][mask_bef]=1
/Users/michaelallwright/Documents/GitHub/UKB/code/../../ukb-dementia-shap/logic/data_processing/data_processing.py:388: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dis_date['dis_aft'][mask_aft]=1
/Users/michaelallwright/Documents/GitHub/UKB/code/../../ukb-dementia-shap/logic/data_processing/data_processing.py:391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dis_date['dis_exc'][mask_10y|mask_bef]=1
/Users/michaelallwright/Documents/GitHub/UKB/code/../../ukb-dementia-shap/logic/data_processing/data_processing.py:403: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dis_date[var][mask]=df_dis_date['dis_bef']

NameError: name 'pd' is not defined

In [161]:
dictmap=dp.ukb_icd10_r()

df_dis_date['disease'].map(dictmap)

0                       i10 essential (primary) hypertension
1          k43.9 ventral hernia without obstruction or ga...
2            z88.0 personal history of allergy to penicillin
3                 n32.8 other specified disorders of bladder
4                                  n39.3 stress incontinence
                                 ...
6302091    z86.4 personal history of psychoactive substan...
6302092    z87.2 personal history of diseases of the skin...
6302093    i84.9 unspecified haemorrhoids without complic...
6302094                         g56.0 carpal tunnel syndrome
6302095                                 k01.1 impacted teeth
Name: disease, Length: 5053795, dtype: object

In [50]:
[icd10_lkup_dict[c] for c in icd10_lkup_dict if 'diab' in icd10_lkup_dict[c]]

['e10-e14 diabetes mellitus',
 'e10 insulin-dependent diabetes mellitus',
 'e11 non-insulin-dependent diabetes mellitus',
 'e12 malnutrition-related diabetes mellitus',
 'e13 other specified diabetes mellitus',
 'e14 unspecified diabetes mellitus',
 'e15 nondiabetic hypoglycaemic coma',
 'e23.2 diabetes insipidus',
 'g59.0 diabetic mononeuropathy',
 'g63.2 diabetic polyneuropathy',
 'h28.0 diabetic cataract',
 'h36.0 diabetic retinopathy',
 'm14.2 diabetic arthropathy',
 'n08.3 glomerular disorders in diabetes mellitus',
 'n25.1 nephrogenic diabetes insipidus',
 'o24 diabetes mellitus in pregnancy',
 'o24.0 pre-existing diabetes mellitus, insulin-dependent',
 'o24.1 pre-existing diabetes mellitus, noninsulin-dependent',
 'o24.2 pre-existing malnutrition-related diabetes mellitus',
 'o24.3 pre-existing diabetes mellitus, unspecified',
 'o24.4 diabetes mellitus arising in pregnancy',
 'o24.9 diabetes mellitus in pregnancy, unspecified',
 'p70.0 syndrome of infant of mother with gestational diabetes',
 'p70.1 syndrome of infant of a diabetic mother',
 'p70.2 neonatal diabetes mellitus',
 't38.3 insulin and oral hypoglycaemic [antidiabetic] drugs',
 'y42.3 insulin and oral hypoglycaemic [antidiabetic] drugs',
 'z13.1 special screening examination for diabetes mellitus',
 'z83.3 family history of diabetes mellitus']

In [63]:
#df_icds_all.columns=[varmap[c] for c in df_icds_all.columns]

In [60]:
 df_icds_all.columns

Index(['eid', 'underlying_primary_cause_of_death_icd10_f40001_0_0',
       'underlying_primary_cause_of_death_icd10_f40001_1_0',
       'type_of_cancer_icd10_f40006_0_0', 'type_of_cancer_icd10_f40006_1_0',
       'type_of_cancer_icd10_f40006_2_0', 'type_of_cancer_icd10_f40006_3_0',
       'type_of_cancer_icd10_f40006_4_0', 'type_of_cancer_icd10_f40006_5_0',
       'type_of_cancer_icd10_f40006_6_0',
       ...
       'date_of_first_inpatient_diagnosis_icd9_f41281_0_37',
       'date_of_first_inpatient_diagnosis_icd9_f41281_0_38',
       'date_of_first_inpatient_diagnosis_icd9_f41281_0_39',
       'date_of_first_inpatient_diagnosis_icd9_f41281_0_40',
       'date_of_first_inpatient_diagnosis_icd9_f41281_0_41',
       'date_of_first_inpatient_diagnosis_icd9_f41281_0_42',
       'date_of_first_inpatient_diagnosis_icd9_f41281_0_43',
       'date_of_first_inpatient_diagnosis_icd9_f41281_0_44',
       'date_of_first_inpatient_diagnosis_icd9_f41281_0_45',
       'date_of_first_inpatient_diagnosis_icd9_f41281_0_46'],
      dtype='object', length=1048)

In [61]:
cols1=[c for c in df_icds_all.columns if '41270' in c or 'eid' in c]
cols2=[c for c in df_icds_all.columns if '41280' in c or 'eid' in c]

In [66]:
df_dis=df_icds_all[cols1]
df_date=df_icds_all[cols2]

df_dis = pd.melt(df_dis, id_vars='eid', value_name='VALUE')
df_dis=df_dis[pd.notnull(df_dis['VALUE'])]

df_dis.columns=['eid','variable','disease']
df_dis['disease']=df_dis['disease'].str.replace("'","")
df_dis['variable']=df_dis['variable'].str.replace('diagnoses_icd10_','')
df_date = pd.melt(df_date, id_vars='eid', value_name='VALUE')
df_date=df_date[pd.notnull(df_date['VALUE'])]
df_date['variable']=df_date['variable'].str.replace('41280','41270')
df_date['variable']=df_date['variable'].str.replace('date_of_first_inpatient_diagnosis_icd10_','')
df_date.columns=['eid','variable','dis_date']

		
df_date['dis_date']=df_date['dis_date'].str.replace('b','')
df_date['dis_date']=df_date['dis_date'].str.replace("'","")
df_date['dis_date']=pd.to_datetime(df_date['dis_date'])

df_dis_date=pd.merge(df_dis,df_date,on=['eid','variable'],how='left')

In [93]:
def mapicd(x):
    try:
        y=dis2_map[x]
    except:
        y='unknown'
    return y

In [96]:
df_dis_date['disease_name3']=df_dis_date['disease'].apply(lambda x:mapicd(x))

In [102]:
mapicd('E11')

'noninsulindependent diabetes mellitus'

In [104]:
[x for x in icd10_lkup_dict if 'diabetic polyneur' in icd10_lkup_dict[x]]

['G632']

In [92]:
df_dis_date[(df_dis_date['disease'].map(dis2_map).str.contains('diabetes'))]['disease_name'].value_counts

0                      essential (primary) hypertension2701
1                  other specified disorders of bladder5439
2                                skin of scalp and neck2976
3                            hypothyroidism, unspecified239
4               degenerative and vascular disorders of ear1
                                 ...
6302091                                                 NaN
6302092            presence of orthopaedic joint implants10
6302093         presence of other bone and tendon implants3
6302094    presence of other specified functional implants2
6302095                                                 NaN
Name: disease, Length: 6302096, dtype: object

In [87]:

df_dis_date['disease_name']=df_dis_date['disease'].map(icd10_lkup_dict)
df_dis_date['disease_name2']=df_dis_date['disease'].map(dis2_map)

In [107]:
icd10_lkup_dict['E11']

'e11 non-insulin-dependent diabetes mellitus'

In [105]:
mask=(df_dis_date['disease'].str.contains('E10|E11',regex=True))&(df_dis_date['dis_date']>'2011-01-01')
df_dis_date.loc[mask,'disease_name'].value_counts()

e11.9 without complications                        27168
e11.3 with ophthalmic complications                 3084
e10.9 without complications                         2160
e11.4 with neurological complications               1112
e11.5 with peripheral circulatory complications      708
e11.2 with renal complications                       541
e10.3 with ophthalmic complications                  513
e11.1 with ketoacidosis                              359
e11.6 with other specified complications             276
e10.1 with ketoacidosis                              257
e10.4 with neurological complications                217
e11.0 with coma                                      120
e10.5 with peripheral circulatory complications       93
e10.2 with renal complications                        91
e11.8 with unspecified complications                  57
e10.6 with other specified complications              41
e10.0 with coma                                       28
e11.7 with multiple complications                     10
e10.8 with unspecified complications                  10
e10.7 with multiple complications                      3
Name: disease_name, dtype: int64

In [108]:
mask=(df_dis_date['disease_name'].str.contains('diabetic polyneuropathy'))&(df_dis_date['dis_date']>'2011-01-01')
df_dis_date.loc[mask,'disease_name'].value_counts()

g63.2 diabetic polyneuropathy    1142
Name: disease_name, dtype: int64

In [110]:
mask=(df_dis_date['disease_name'].str.contains('diabetic polyneuropathy'))&(df_dis_date['dis_date']>'2011-01-01')
diab_poly_df=df_dis_date.loc[mask,]

In [122]:
diab_poly_diab2=pd.DataFrame(diab_poly_df.groupby('eid')['dis_date'].min()).reset_index()
diab_poly_diab2.rename(columns={'dis_date':'diab_poly_date'},inplace=True)

In [111]:
mask=(df_dis_date['disease_name'].str.contains('pain'))&(df_dis_date['dis_date']>'2011-01-01')
pain_fut_df=df_dis_date.loc[mask,]

In [124]:
df_pain_poly=pd.merge(diab_poly_diab2,pain_fut_df,on='eid',how='inner')
df_pain_poly=df_pain_poly.loc[df_pain_poly['dis_date']>=df_pain_poly['diab_poly_date'],]

In [126]:
df_pain_poly['eid'].nunique()

338

In [136]:
df_pain_poly.loc[df_pain_poly['disease_name'].str.contains('limb|thigh',regex=True),]

,eid,diab_poly_date,variable,disease,dis_date,disease_name,disease_name2,disease3,disease_name3
8,1037982,2017-04-13,f41270_0_61,M2555,2018-09-06,m25.55 pain in joint (pelvic region and thigh),pain in joint (pelvic region and thigh)3029,pain in joint (pelvic region and thigh)3029,pain in joint (pelvic region and thigh)3029
11,1046860,2013-11-08,f41270_0_44,M7967,2013-11-11,m79.67 pain in limb (ankle and foot),pain in limb (ankle and foot)775,pain in limb (ankle and foot)775,pain in limb (ankle and foot)775
22,1083927,2013-02-19,f41270_0_111,M7966,2018-01-27,m79.66 pain in limb (lower leg),pain in limb (lower leg)4231,pain in limb (lower leg)4231,pain in limb (lower leg)4231
26,1094407,2013-12-16,f41270_0_35,M2555,2019-08-30,m25.55 pain in joint (pelvic region and thigh),pain in joint (pelvic region and thigh)3029,pain in joint (pelvic region and thigh)3029,pain in joint (pelvic region and thigh)3029
31,1130961,2017-08-25,f41270_0_47,M7966,2020-01-07,m79.66 pain in limb (lower leg),pain in limb (lower leg)4231,pain in limb (lower leg)4231,pain in limb (lower leg)4231
...,...,...,...,...,...,...,...,...,...
912,5583302,2018-10-25,f41270_0_34,M2555,2018-10-25,m25.55 pain in joint (pelvic region and thigh),pain in joint (pelvic region and thigh)3029,pain in joint (pelvic region and thigh)3029,pain in joint (pelvic region and thigh)3029
929,5732395,2019-10-13,f41270_0_53,M7966,2021-06-04,m79.66 pain in limb (lower leg),pain in limb (lower leg)4231,pain in limb (lower leg)4231,pain in limb (lower leg)4231
937,5768249,2014-07-26,f41270_0_16,M796,2017-02-06,m79.6 pain in limb,pain in limb,pain in limb,pain in limb
938,5768249,2014-07-26,f41270_0_17,M7966,2021-02-24,m79.66 pain in limb (lower leg),pain in limb (lower leg)4231,pain in limb (lower leg)4231,pain in limb (lower leg)4231
959,6000742,2014-06-07,f41270_0_65,M7966,2017-07-19,m79.66 pain in limb (lower leg),pain in limb (lower leg)4231,pain in limb (lower leg)4231,pain in limb (lower leg)4231

In [129]:
pd.DataFrame(df_pain_poly['disease_name'].value_counts())

                                                    disease_name
r07.4 chest pain, unspecified                                 60
r10.4 other and unspecified abdominal pain                    45
r10.1 pain localised to upper abdomen                         41
m54.5 low back pain                                           38
m25.55 pain in joint (pelvic region and thigh)                37
r07.2 precordial pain                                         36
r07.3 other chest pain                                        32
m79.66 pain in limb (lower leg)                               30
m25.51 pain in joint (shoulder region)                        25
r10.3 pain localised to other parts of lower ab...            19
m25.56 pain in joint (lower leg)                              19
m54.56 low back pain (lumbar region)                          14
r52.2 other chronic pain                                       9
m25.50 pain in joint (multiple sites)                          9
m25.57 pain in joint (ankle and foot)                          8
m79.67 pain in limb (ankle and foot)                           8
m79.65 pain in limb (pelvic region and thigh)                  7
m79.6 pain in limb                                             7
m79.60 pain in limb (multiple sites)                           6
m54.59 low back pain (site unspecified)                        6
m54.57 low back pain (lumbosacral region)                      6
m79.61 pain in limb (shoulder region)                          5
r52.9 pain, unspecified                                        4
m25.53 pain in joint (forearm)                                 4
r52.1 chronic intractable pain                                 4
m79.64 pain in limb (hand)                                     3
m25.5 pain in joint                                            3
m54.64 pain in thoracic spine (thoracic region)                3
m54.58 low back pain (sacral and sacrococcygeal...             2
h57.1 ocular pain                                              2
r07.1 chest pain on breathing                                  2
g54.6 phantom limb syndrome with pain                          2
r30.9 painful micturition, unspecified                         1
m79.69 pain in limb (site unspecified)                         1
m25.52 pain in joint (upper arm)                               1
r07.0 pain in throat                                           1
m79.62 pain in limb (upper arm)                                1
m54.6 pain in thoracic spine                                   1
m25.58 pain in joint (other)                                   1

In [116]:
pain_fut_df.loc[pain_fut_df['eid'].isin(diab_poly_df['eid']),].groupby(['eid','disease_name']).size().unstack('disease_name')

disease_name,g54.6 phantom limb syndrome with pain,h57.1 ocular pain,m25.5 pain in joint,m25.50 pain in joint (multiple sites),m25.51 pain in joint (shoulder region),m25.52 pain in joint (upper arm),m25.53 pain in joint (forearm),m25.54 pain in joint (hand),m25.55 pain in joint (pelvic region and thigh),m25.56 pain in joint (lower leg),...,"r07.4 chest pain, unspecified",r10.1 pain localised to upper abdomen,r10.2 pelvic and perineal pain,r10.3 pain localised to other parts of lower abdomen,r10.4 other and unspecified abdominal pain,"r30.9 painful micturition, unspecified",r52.0 acute pain,r52.1 chronic intractable pain,r52.2 other chronic pain,"r52.9 pain, unspecified"
eid,,,,,,,,,,,,,,,,,,,,,
1003445,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1004162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1020745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1021893,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1026684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5915519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5915831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5956522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5957396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6000742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
mask=(df_dis_date['disease_name'].str.contains('chronic pain'))&(df_dis_date['dis_date']>'2011-01-01')
df_dis_date.loc[mask,'disease_name'].value_counts()

r52.2 other chronic pain    742
Name: disease_name, dtype: int64

In [77]:
mask=(df_dis_date['disease_name'].str.contains('pain'))&(df_dis_date['dis_date']>'2011-01-01')
df_dis_date.loc[mask,'disease_name'].value_counts()

r07.4 chest pain, unspecified                              17427
r10.4 other and unspecified abdominal pain                 13219
r10.1 pain localised to upper abdomen                      12011
r07.3 other chest pain                                      8743
r10.3 pain localised to other parts of lower abdomen        6876
r07.2 precordial pain                                       6686
m54.5 low back pain                                         5025
m79.66 pain in limb (lower leg)                             3911
m25.55 pain in joint (pelvic region and thigh)              3496
m54.56 low back pain (lumbar region)                        2696
m25.51 pain in joint (shoulder region)                      2390
m25.56 pain in joint (lower leg)                            2189
m54.59 low back pain (site unspecified)                     1461
m79.6 pain in limb                                          1095
m79.65 pain in limb (pelvic region and thigh)               1023
m25.57 pain in joint (ankle and foot)                       1016
r52.1 chronic intractable pain                               970
m25.50 pain in joint (multiple sites)                        887
m54.57 low back pain (lumbosacral region)                    885
m79.60 pain in limb (multiple sites)                         848
r52.2 other chronic pain                                     742
m25.5 pain in joint                                          740
m79.67 pain in limb (ankle and foot)                         729
r10.2 pelvic and perineal pain                               632
m79.62 pain in limb (upper arm)                              481
m25.53 pain in joint (forearm)                               352
r07.0 pain in throat                                         325
r52.9 pain, unspecified                                      322
r07.1 chest pain on breathing                                317
m25.54 pain in joint (hand)                                  300
m54.58 low back pain (sacral and sacrococcygeal region)      268
h57.1 ocular pain                                            268
m79.64 pain in limb (hand)                                   234
m54.6 pain in thoracic spine                                 201
m54.64 pain in thoracic spine (thoracic region)              193
m54.50 low back pain (multiple sites in spine)               179
m79.69 pain in limb (site unspecified)                       157
m79.63 pain in limb (forearm)                                156
m79.61 pain in limb (shoulder region)                        152
r30.9 painful micturition, unspecified                       136
r52.0 acute pain                                             129
m25.52 pain in joint (upper arm)                             100
m25.59 pain in joint (site unspecified)                       85
m54.55 low back pain (thoracolumbar region)                   80
m25.58 pain in joint (other)                                  80
g54.6 phantom limb syndrome with pain                         76
g50.1 atypical facial pain                                    36
m79.68 pain in limb (other)                                   26
m54.65 pain in thoracic spine (thoracolumbar region)          16
f45.4 persistent somatoform pain disorder                      8
g54.7 phantom limb syndrome without pain                       7
m54.63 pain in thoracic spine (cervicothoracic region)         7
m54.52 low back pain-cervical                                  2
m54.66 pain in thoracic spine-lumbar                           2
m54.54 low back pain-thoracic                                  1
m54.62 pain in thoracic spine-cervical                         1
m54.69 pain in thoracic spine-site unspe                       1
Name: disease_name, dtype: int64

In [74]:
sum(mask)

7955

In [72]:
df_dis_date

,eid,variable,disease,dis_date,disease_name,disease_name2
0,1000014,f41270_0_0,I10,2010-07-28,i10 essential (primary) hypertension,essential (primary) hypertension2701
1,1000023,f41270_0_0,N328,2016-03-15,n32.8 other specified disorders of bladder,other specified disorders of bladder5439
2,1000030,f41270_0_0,C444,2019-04-25,c44.4 skin of scalp and neck,skin of scalp and neck2976
3,1000041,f41270_0_0,E039,2012-01-27,"e03.9 hypothyroidism, unspecified","hypothyroidism, unspecified239"
4,1000062,f41270_0_0,H930,2009-11-13,h93.0 degenerative and vascular disorders of ear,degenerative and vascular disorders of ear1
...,...,...,...,...,...,...
6302091,3673320,f41270_0_238,Z963,2007-10-13,z96.3 presence of artificial larynx,NaN
6302092,3673320,f41270_0_239,Z966,2015-02-25,z96.6 presence of orthopaedic joint implants,presence of orthopaedic joint implants10
6302093,3673320,f41270_0_240,Z967,2015-08-10,z96.7 presence of other bone and tendon implants,presence of other bone and tendon implants3
6302094,3673320,f41270_0_241,Z968,2015-09-10,z96.8 presence of other specified functional i...,presence of other specified functional implants2
6302095,3673320,f41270_0_242,Z993,2014-07-10,z99.3 dependence on wheelchair,NaN

In [44]:
df_dis = pd.melt(df_dis, id_vars='f.eid', value_name='VALUE')
df_date = pd.melt(df_dis, id_vars='f.eid', value_name='VALUE')

In [45]:
df_dis=df_dis[pd.notnull(df_dis['VALUE'])]
df_dis['disease_name']=df_dis['VALUE'].map(icd10_lkup_dict)
df_dis['disease_name2']=df_dis['VALUE'].map(dis2_map)

In [52]:
df_dis[(df_dis['VALUE'].str.contains('E11'))]

,f.eid,variable,VALUE,disease_name,disease_name2
11,1000124,f.41204.0.0,E119,e11.9 without complications,without complications1144
27,1000288,f.41204.0.0,E119,e11.9 without complications,without complications1144
51,1000528,f.41204.0.0,E119,e11.9 without complications,without complications1144
149,1001507,f.41204.0.0,E113,e11.3 with ophthalmic complications,with ophthalmic complications383
187,1001882,f.41204.0.0,E119,e11.9 without complications,without complications1144
...,...,...,...,...,...
12866561,4063558,f.41204.0.25,E113,e11.3 with ophthalmic complications,with ophthalmic complications383
13368972,4063558,f.41204.0.26,E114,e11.4 with neurological complications,with neurological complications86
13871383,4063558,f.41204.0.27,E115,e11.5 with peripheral circulatory complications,with peripheral circulatory complications407
14373794,4063558,f.41204.0.28,E116,e11.6 with other specified complications,with other specified complications127
14876205,4063558,f.41204.0.29,E119,e11.9 without complications,without complications1144

In [46]:
mask=pd.notnull(df_dis['disease_name2'])&(df_dis['disease_name2'].str.upper().str.contains('DIABET'))
df_dis.loc[mask,'disease_name2'].value_counts()

diabetic retinopathy323                                   3915
diabetic polyneuropathy19                                 1316
family history of diabetes mellitus8                       963
glomerular disorders in diabetes mellitus11                768
diabetic mononeuropathy1                                   359
diabetes insipidus35                                       159
diabetes mellitus arising in pregnancy93                   150
special screening examination for diabetes mellitus278      70
insulin and oral hypoglycaemic [antidiabetic] drugs148      63
diabetic cataract31                                         51
preexisting diabetes mellitus, insulindependent33           48
diabetes mellitus in pregnancy, unspecified23               33
diabetic arthropathy4                                       28
nephrogenic diabetes insipidus6                             23
preexisting diabetes mellitus, noninsulindependent10         7
preexisting diabetes mellitus, unspecified1                  1
nondiabetic hypoglycaemic coma2                              1
Name: disease_name2, dtype: int64

In [ ]:
#

exc_parquet(df_icds_all,outfile='../data/df_icds_all')
#df_icds_all.to_parquet('../data/df_icds_all.parquet')

running exception

In [160]:
icd10cols=['f.eid']+[c for c in varmap if 'diagnoses_icd10' in varmap[c]]
icd10cols_dates=[c for c in varmap if 'date_of_first_inpatient_diagnosis_icd10_f41280' in varmap[c]]

In [161]:
icdcols3=icd10cols[0:20]+icd10cols_dates[0:19]

In [71]:
icd10cols_test=icd10cols[0:25]

In [169]:
def melt_disease(df):
    df['f.eid']=df['f.eid'].astype(str)
    df=pd.melt(df,id_vars=['f.eid'])
    df.dropna(inplace=True)
    return df

In [162]:
df_icd10_test2=pd.read_csv(ukb_file,sep='\t',usecols=icdcols3)

/Users/michaelallwright/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (22280,22281,22282,22283,22284,22285,22730,22731,22732,22733,22734,22735) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [170]:
df_icd10_test3=melt_disease(df_icd10_test2)

In [175]:
df_icd10_test3.dropna(inplace=True)

In [186]:
df_icd10_test3['disease_name']=df_icd10_test3['value'].map(icd10_lkup_dict)
df_icd10_test3['disease_name2']=df_icd10_test3['value'].map(dis2_map)

In [190]:
mask=pd.notnull(df_icd10_test3['disease_name2'])&(df_icd10_test3['disease_name2'].str.contains('diab'))
df_icd10_test3.loc[mask,].sample(20)

,f.eid,variable,value,disease_name,disease_name2
911734,1510366,f.41270.0.8,H360,h36.0 diabetic retinopathy,diabetic retinopathy323
965189,3894601,f.41270.0.8,H360,h36.0 diabetic retinopathy,diabetic retinopathy323
1520247,3551502,f.41270.0.13,H360,h36.0 diabetic retinopathy,diabetic retinopathy323
1152438,2209564,f.41270.0.10,O244,o24.4 diabetes mellitus arising in pregnancy,diabetes mellitus arising in pregnancy93
1245227,1321602,f.41270.0.11,H360,h36.0 diabetic retinopathy,diabetic retinopathy323
1370460,1892644,f.41270.0.12,G632,g63.2 diabetic polyneuropathy,diabetic polyneuropathy19
1274187,2621392,f.41270.0.11,H360,h36.0 diabetic retinopathy,diabetic retinopathy323
1110191,5336853,f.41270.0.9,H360,h36.0 diabetic retinopathy,diabetic retinopathy323
2009666,5297562,f.41270.0.17,H360,h36.0 diabetic retinopathy,diabetic retinopathy323
1090222,4451218,f.41270.0.9,H360,h36.0 diabetic retinopathy,diabetic retinopathy323
625787,3817430,f.41270.0.5,H360,h36.0 diabetic retinopathy,diabetic retinopathy323
1998174,4785310,f.41270.0.17,H360,h36.0 diabetic retinopathy,diabetic retinopathy323
829230,2852286,f.41270.0.7,H360,h36.0 diabetic retinopathy,diabetic retinopathy323
1185040,3661555,f.41270.0.10,H360,h36.0 diabetic retinopathy,diabetic retinopathy323
1506916,2956291,f.41270.0.13,H360,h36.0 diabetic retinopathy,diabetic retinopathy323
1986761,4284635,f.41270.0.17,O244,o24.4 diabetes mellitus arising in pregnancy,diabetes mellitus arising in pregnancy93
833366,3032816,f.41270.0.7,H360,h36.0 diabetic retinopathy,diabetic retinopathy323
1731249,2923075,f.41270.0.15,H360,h36.0 diabetic retinopathy,diabetic retinopathy323
615973,3375495,f.41270.0.5,H360,h36.0 diabetic retinopathy,diabetic retinopathy323
1105110,5114835,f.41270.0.9,O244,o24.4 diabetes mellitus arising in pregnancy,diabetes mellitus arising in pregnancy93

In [ ]:
diagnoses_icd10,date_of_first_inpatient_diagnosis_icd10_f41280_0_0

In [128]:
%%time
df_icd10_test=pd.read_csv(ukb_file,sep='\t',usecols=icd10cols)

/Users/michaelallwright/opt/anaconda3/lib/python3.9/site-packages/IPython/core/magics/execution.py:1324: DtypeWarning: Columns (21345,21346,21347,21348,21349,21350,21351,21352,21353,21354,21355,21356,21357,21358,21359,21360,21361,21362,21363,21364,21365,21366,21367,21368,21369,21370,21371,21372,21373,21374,21375,21376,21377,21378,21379,21380,21381,21382,21383,21384,21385,21386,21387,21388,21389,21390,21391,21392,21393,21394,21395,21396,21397,21398,21399,21400,21401,21402,21403,21404,21405,21406,21407,21408,21409,21410,21411,21412,21413,21414,21415,21416,21417) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code, glob, local_ns)

CPU times: user 3min 52s, sys: 11 s, total: 4min 3s
Wall time: 21min 23s

In [163]:
df_icd10_test2.head()

,f.eid,f.41270.0.0,f.41270.0.1,f.41270.0.2,f.41270.0.3,f.41270.0.4,f.41270.0.5,f.41270.0.6,f.41270.0.7,f.41270.0.8,...,f.41280.0.9,f.41280.0.10,f.41280.0.11,f.41280.0.12,f.41280.0.13,f.41280.0.14,f.41280.0.15,f.41280.0.16,f.41280.0.17,f.41280.0.18
0,1000014,I10,K439,Z880,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000023,N328,N393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000030,C444,K219,K297,M1999,M201,M205,M5459,R101,T841,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000041,E039,K219,K449,K922,Z121,Z800,Z871,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [131]:
df_icd10_test['f.eid']=df_icd10_test['f.eid'].astype(str)

In [132]:
df_icd10_test2=pd.melt(df_icd10_test,id_vars=['f.eid'])

In [135]:
df_icd10_test2.dropna(inplace=True)

In [139]:
df_icd10_test2['disease_name']=df_icd10_test2['value'].map(icd10_lkup_dict)

In [147]:
df_icd10_test2.loc[df_icd10_test2['disease_name'].str.contains('diab'),'disease_name'].value_counts()

h36.0 diabetic retinopathy                                    323
z13.1 special screening examination for diabetes mellitus     278
t38.3 insulin and oral hypoglycaemic [antidiabetic] drugs     148
o24.4 diabetes mellitus arising in pregnancy                   93
e23.2 diabetes insipidus                                       35
o24.0 pre-existing diabetes mellitus, insulin-dependent        33
h28.0 diabetic cataract                                        31
o24.9 diabetes mellitus in pregnancy, unspecified              23
g63.2 diabetic polyneuropathy                                  19
n08.3 glomerular disorders in diabetes mellitus                11
o24.1 pre-existing diabetes mellitus, noninsulin-dependent     10
z83.3 family history of diabetes mellitus                       8
n25.1 nephrogenic diabetes insipidus                            6
m14.2 diabetic arthropathy                                      4
e15 nondiabetic hypoglycaemic coma                              2
g59.0 diabetic mononeuropathy                                   1
o24.3 pre-existing diabetes mellitus, unspecified               1
Name: disease_name, dtype: int64

In [144]:
df_icd10_test2['f.eid'].nunique()

440014

In [141]:
df_icd10_test2['disease_name']

0           k43.9 ventral hernia without obstruction or ga...
1                                   n39.3 stress incontinence
2                                c44.4 skin of scalp and neck
3           k21.9 gastro-oesophageal reflux disease withou...
5            h93.0 degenerative and vascular disorders of ear
                                  ...
37359822    t85.6 mechanical complication of other specifi...
37862233    t85.7 infection and inflammatory reaction due ...
38364644    z09.0 follow-up examination after surgery for ...
38867055    z09.8 follow-up examination after other treatm...
39369466       z46.6 fitting and adjustment of urinary device
Name: disease_name, Length: 2296640, dtype: object

In [ ]:
df_icd10_test.applymap(lambda x: 'alz' in x).any(1).astype(int).sum()

In [107]:
df_icd10_test['f.41202.0.0']

0         K439
1         N393
2         C444
3         K219
4          NaN
          ...
502406    I849
502407    G560
502408     NaN
502409     NaN
502410    K011
Name: f.41202.0.0, Length: 502411, dtype: object

In [126]:
for i in range(50):
    df_icd10_test['f.41202.0.'+str(i)+'dis']=df_icd10_test['f.41202.0.'+str(i)].map(icd10_lkup_dict)


df_icd10_test[['f.41202.0.2','f.41202.0.2'+'dis']].sample(20)

KeyError: 'f.41202.0.24'

In [123]:
df_icd10_test=df_icd10_test.applymap(lambda x:str(x))

0         0
1         0
2         0
3         0
4         0
         ..
502406    0
502407    0
502408    0
502409    0
502410    0
Length: 502411, dtype: int64

In [125]:
df_icd10_test.applymap(lambda x: 'alz' in x).any(1).astype(int).sum()

566

In [120]:
df_icd10_test.shape

(502411, 45)

In [121]:
for i in range(20):
    mask=(df_icd10_test['f.41202.0.'+str(i)+'dis'].str.contains('diab'))&\
pd.notnull(df_icd10_test['f.41202.0.'+str(i)+'dis'])
    print(sum(mask))

87
122
127
119
105
66
64
55
46
34
32
23
18
15
15
7
7
10
12
9

In [31]:

field_names2.loc[pd.notnull(field_names2['Path']),'Path'].apply(lambda x:x.split('>'))

0                                                    [nan]
1        [Assessment Centre ,  Procedural metrics ,  Pr...
2        [Assessment Centre ,  Procedural metrics ,  Pr...
3        [Assessment Centre ,  Procedural metrics ,  Pr...
4        [Assessment Centre ,  Procedural metrics ,  Pr...
                               ...
27227    [Health-related outcomes ,  First occurrences ...
27228    [Health-related outcomes ,  First occurrences ...
27229    [Health-related outcomes ,  First occurrences ...
27230    [Health-related outcomes ,  First occurrences ...
27231    [Health-related outcomes ,  First occurrences ...
Name: Path, Length: 27232, dtype: object

In [39]:
field_names2['field_type1'].value_counts()

 Imaging                              4941
 Physical measures                    4725
 Cognitive function                   2281
 First occurrences                    2258
 Diet by 24-hour recall               2171
 Touchscreen                          2072
 Hospital inpatient                   1909
 Blood assays                         1705
 Verbal interview                     1684
 Work environment                     1306
 Cognitive function online             641
 Physical activity measurement         186
 Mental health                         181
 Procedural metrics                    159
 Food (and other) preferences          153
 Experience of pain                    147
 Cancer register                       142
 Genotypes                              86
 Local environment                      85
 Digestive health                       54
 Biological sampling                    52
 Death register                         40
 Algorithmically-defined outcomes       38
 Sample inventory                       26
 Baseline characteristics               25
 Recruitment                            25
 Cognitive function online              16
 Urine assays                           16
 Urine assays                           15
 Diet by 24-hour recall                 13
 Telomeres                              12
 Whole genome sequences                  8
 Physical activity measurement           8
 Exome sequences                         7
 Procedural metrics                      7
 Coronavirus COVID-19                    6
 Whole genome sequences                  6
 Exome sequences                         5
 Baseline characteristics                5
 Primary care                            3
 Work environment                        3
 Ongoing characteristics                 3
 Imputation                              2
 Recruitment                             2
 Genetically deduced phenotypes          1
 Mental health                           1
N/A                                      1
Name: field_type1, dtype: int64

In [43]:
dp.findcols(field_names2,'Cod')

['Coding']

In [49]:
field_names2.columns

Index(['Unnamed: 0_x', 'field.showcase', 'field.html', 'field.tab', 'col.type',
       'col.name', 'FieldID', 'Unnamed: 0_y', 'Path', 'Category', 'Field',
       'Participants', 'Items', 'Stability', 'ValueType', 'Units', 'ItemType',
       'Strata', 'Sexed', 'Instances', 'Array', 'Coding', 'Notes', 'Link',
       'field_type0', 'field_type1', 'field_type2', 'field_type3'],
      dtype='object')

In [50]:
field_names2['Field']

0                                                      NaN
1                                Verbal interview duration
2                                Verbal interview duration
3                                Verbal interview duration
4                                Verbal interview duration
                               ...
27227    Source of report of Q97 (other sex chromosome ...
27228    Date Q98 first reported (other sex chromosome ...
27229    Source of report of Q98 (other sex chromosome ...
27230    Date Q99 first reported (other chromosome abno...
27231    Source of report of Q99 (other chromosome abno...
Name: Field, Length: 27232, dtype: object

In [73]:
mask=(pd.notnull(field_names2['Field']))&(field_names2['Field'].str.contains('ICD10'))
field_names2.loc[mask,['Field','Coding']].sample(20)

                                                 Field  Coding
22470                                Diagnoses - ICD10    19.0
22782       Date of first in-patient diagnosis - ICD10     NaN
21077  Contributory (secondary) causes of death: ICD10    19.0
21349                           Diagnoses - main ICD10    19.0
21125                            Type of cancer: ICD10    19.0
21355                           Diagnoses - main ICD10    19.0
22424                                Diagnoses - ICD10    19.0
22508                                Diagnoses - ICD10    19.0
22464                                Diagnoses - ICD10    19.0
22153  Date of first in-patient diagnosis - main ICD10     NaN
22168  Date of first in-patient diagnosis - main ICD10     NaN
21541                      Diagnoses - secondary ICD10    19.0
21329                          External causes - ICD10    19.0
22363                                Diagnoses - ICD10    19.0
22371                                Diagnoses - ICD10    19.0
22911       Date of first in-patient diagnosis - ICD10     NaN
21453                      Diagnoses - secondary ICD10    19.0
22856       Date of first in-patient diagnosis - ICD10     NaN
21573                      Diagnoses - secondary ICD10    19.0
22210  Date of first in-patient diagnosis - main ICD10     NaN

In [57]:
code_map.loc[code_map['Coding']==87]

,Unnamed: 0,Coding,Value,Meaning
60466,60467,87,001,001 Cholera
60467,60468,87,0010,0010 Cholera due to vibrio cholerae
60468,60469,87,0011,0011 Cholera due to vibrio cholerae el tor
60469,60470,87,0019,0019 Cholera - unspecified
60470,60471,87,002,002 Typhoid and paratyphoid fevers
...,...,...,...,...
74171,74172,87,V824,V824 Postnatal screening for chromosomal anoma...
74172,74173,87,V825,V825 Special screening for chemical poisoning ...
74173,74174,87,V826,V826 Multiphasic screening
74174,74175,87,V828,V828 Other special screening for other conditions
74175,74176,87,V829,V829 Unspecified special screening for other c...